{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <img src="{{ object.photo | media_filter }}">
            <div class="card-body">
                <h2 class="card-title pricing-card-title">₽ {{ object.price }}</h2>
                <h4 class="card text">Категория: {{ object.category }}</h4>
                <p class="card text">Дата создания карточки: {{ object.created_at }}</p>
                <p class="card text">Дата редактирования карточки: {{ object.updated_at }}</p>
                <p class="card text">{{ object.description }}</p>
                <div class="btn-group">
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:products_list' %}">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
